/*
 * Form
 */

.form-input {
    color: #1b1b1b;
    font-size: 16px;
    padding: 10px 50px 10px 10px;
    border: 1px solid #ccd1d9;
    background-color: #fff;
}

.form-input-focus {}

.form-input-hover {}

.form-input-error {}

/*
 * Navigation
 */

.nav-link {}

.nav-link-hover {}

.nav-menu {}

.nav-menu-link {}

.nav-menu-link-hover {}