/* @info: set default color of placeholder element */
[placeholder]
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
    color: $color-form-placeholder;
}

select::-ms-expand {
    @extend .dsp-non;
}

/* @info: disable label if input is disabled */
input:disabled ~ label {
    opacity: 0.5;
}

/* @info: set require sign to label */
label.req:after {
    content: " *";
    color: #c73434;
}

/* @info: default stylings */
select,
textarea,
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'] {
    @extend .dsp-blk;
    @extend .rel;

    @include vendor-prefix("transition", "border .3s ease-out");

    @extend .form-input !optional;
}

button:focus,
textarea:focus,
select:focus,
input[type='text']:focus {
    border-color: #{$color-form-focus};
    @extend .form-input-focus !optional;
}

button:hover,
textarea:hover,
select:hover,
input[type='text']:hover {
    border-color: lighten($color-form-focus, 10%);
    @extend .form-input-focus !optional;
}

/* @info replace default open icon with customized arrow */
body select {
    padding-right: 29px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-indent: 0.001em;
    text-overflow: '';

    @extend .form-select !optional;
}

input:invalid {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input:visited:invalid,
input.error,
.error input {
    border-color: #{$color-form-error};
    outline: 0;
    @extend .form-input-error !optional;
}