/* @info: set default color of placeholder element */
[placeholder]
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
    color: $color-form-placeholder;
}

select::-ms-expand {
    @extend .hidden;
}

/* @info: disable label if input is disabled */
input:disabled ~ label {
    opacity: 0.5;
    @extend .form-label-disabled-hook !optional;
}

/* @info: set require sign to label */
label.req:after {
    content: " *";
    color: #c73434;
}

/* @info: default stylings */
select,
textarea,
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'] {
    @extend .dsp-blk;
    @extend .rel;

    @include vendor-prefix("transition", "border .3s ease-out");

    @extend .form-input-hook !optional;
}

button:focus,
textarea:focus,
select:focus,
input[type='text']:focus {
    border-color: #{$color-form-focus};
    @extend .form-input-focus-hook !optional;
}

button:hover,
textarea:hover,
select:hover,
input[type='text']:hover {
    border-color: lighten($color-form-focus, 10%);
    @extend .form-input-hover-hook !optional;
}

/* @info replace default open icon with customized arrow */
body select {
    @extend .pdg-rgt-25 !optional;
    @extend .pdg-top-9 !optional;
    @extend .pdg-btm-9 !optional;

    text-indent: 0.001em;
    text-overflow: '';

    @extend .form-select-hook !optional;
}

input:invalid {
    @extend .#{$shadow-name}-non;
}

input:visited:invalid,
input.error,
.error input {
    border-color: #{$color-form-error};
    outline: 0;
    @extend .form-input-error-hook !optional;
}