@each $name, $value in $color-hover-list {

    .#{$hover-name}-#{$name}:hover,
    .#{$hover-name}-#{$name}-each *:hover {
        color: #{$value};
    }

}

@each $name, $value in $color-hover-list {

    .#{$hover-name}-bgc-#{$name}:hover,
    .#{$hover-name}-bgc-#{$name}-each *:hover {
        background-color: #{$value};
    }

}



