/*
 * #{$icon-name} = icons
 *
 */

[class*='#{$icon-name}-'] {
    @extend .rel;
    @extend .dsp-ibk;
    @extend .txt-nrl;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @extend .icon-hook !optional;
}

@each $name, $value in $icon-size {

    .#{$icon-name}-#{$name}:before {
        font-size: #{$value};
    }

}

/*%iconFont%*/