body .lst-non {
    list-style-type: none;
    @extend .lst-non-hook !optional;
}

.lst-dsc {
    list-style-position: outside;

    li {
        list-style-type: disc;
    }

    @extend .lst-cic-hook !optional;
}

.lst-sqr {
    list-style-position: outside;

    li {
        list-style-type: square;
    }

    @extend .lst-sqr-hook !optional;
}

.lst-blt {

    @extend .lst-non;

    li:before {
        content: "•";
    }

}