/*
 * #{$width-name} = width
 */

@for $i from 1 through length($width-list) {

    $item: nth($width-list, $i);

    .#{$width-name}-#{$item},
    .#{$width-name}-#{$item}-each {
        width: #{$item}#{map-get($unit, width)};
    }

}

@for $i from 1 through length($width-static-list) {

    $item: nth($width-static-list, $i);

    .#{$width-static-name}-#{$item} {
        width: #{$item}px;
    }

}