<% if (fontfaceStyles) { %>
    @font-face {
        font-family: '<%= fontBaseName %>';
        src:url("%fontPath%<%= fontBaseName %>/<%= fontBaseName %>.eot");
        src:url("%fontPath%<%= fontBaseName %>/<%= fontBaseName %>.eot?#iefix") format("embedded-opentype"),
            url("%fontPath%<%= fontBaseName %>/<%= fontBaseName %>.woff") format("woff"),
            url("%fontPath%<%= fontBaseName %>/<%= fontBaseName %>.ttf") format("truetype"),
            url("%fontPath%<%= fontBaseName %>/<%= fontBaseName %>.svg?#<%= fontBaseName %>") format("svg");
        font-weight: normal;
        font-style :normal;
    }
<% } %>

<% if (iconsStyles) { %>
    [class*='%className%-'] {
        font-family: '<%= fontBaseName %>';
    }
    /* Icons */
    <% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { %>
        .%className%-<%= glyphs[glyphIdx] %>:before {
            content: "\<%= codepoints[glyphIdx] %>";
        }
    <% } %>
<% } %>