html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-x: auto\9;
}

body {
    font: #{$baseScale} #{$font-families}, #{checkSerif()};
    font-weight: #{$font-weight};
    color: #{$baseTxtColor};
    background-color: #{$baseColor};
    line-height: 1.1;
    @extend .body-hook !optional;
}

[hidden], .hidden {
    display: none;
}

[disabled] {
    @include opacity($disableOpacity);
}

blockquote {
    quotes: "#{$quotes}";
}

blockquote:before {
    content: open-quote;
}

blockquote:after {
    content: close-quote;
}

a[href],
a[href] *,
[route],
[toggle],
label[for],
body .pnr,
select, button,
input[type='submit'] {
    cursor: pointer;
    color: inherit;
}

p, i, strong, u, a, span, li, h1, h2, h3, h4, h5, li {
    font-weight: inherit;
    white-space: normal;
    vertical-align: baseline;
}

img {
    -ms-interpolation-mode: bicubic;
}

::-ms-clear {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    @extend .all-headlines-hook !optional;
}

h1 {
    @extend .h1-hook !optional;
}

h2 {
    @extend .h2-hook !optional;
}

h3 {
    @extend .h3-hook !optional;
}

h4 {
    @extend .h4-hook !optional;
}

strong {
    @extend .bld;
}