/*
 * Form Hooks
 */

.form-input-hook {
    color: #1b1b1b;
    font-size: 16px;
    padding: 10px 50px 10px 10px;
    border: 1px solid #ccd1d9;
    background-color: #fff;
}

.form-input-focus-hook {}

.form-input-hover-hook {}

.form-select-hook {}

.form-input-error-hook {}

.form-label-error-hook {}

.form-label-disabled-hook {}
