/*
 * Tag Hooks
 */

.tag-list-hook {

}

.tag-list-li-hook {
    @extend .fns-11;
    @extend .pdg-vrt-8;
    @extend .pdg-hzn-5;
    @extend .mgn-hzn-3;
    @extend .mgn-vrt-1;

    border-style: solid;
    border-width: 1px;
}

.tag-list-li-i-hook {
    @extend .pdg-vrt-3;
    @extend .pdg-hzn-4;
    @extend .mgn-lft-5;

    width: 15px;
    height: 16px;
}

.tag-list-active-hook {

}