.#{$checkbox-name} {

    @extend .dsp-blk;
    @extend .rel;
    @extend .csr-pnt;
    @extend .txt-mdl;
    min-width: 1em;
    line-height: 1em;
    outline: 0;

    * {
        @extend .txt-mdl;
        @extend .csr-pnt;
    }

    input {
        @extend .hidden;
    }

    span {
        @extend .cnr;
        @extend .rel;
        @extend .dsp-ibk;
        @extend .rnd-s;
        @extend .flw-hdn;
        top: 1px;
        margin-right: 5px;
        padding: 0 2px;
        width: 15px;
        height: 15px;
        color: #{$checkbox-color-inactive};
        background-color: #{$checkbox-color-inactive};
        transition: all 0.1s ease-out;
    }

    span[class*='#{$icon-name}-'] {
        @extend .pdg-vrt-2;
        @extend .wdt-ato;
        top: -1px;
        height: auto;
    }

    span:before {
        @extend .cnr;
        @extend .rel;
        left: -100px;
        top: -1px;
        font-size: 80%;
        transition: all 0.2s ease-in;
    }

    :checked ~ span {
        color: #{$checkbox-text-active};
        background-color: #{$checkbox-color-active};
    }

    :checked ~ span:before {
        left: 0;
        transition: all 0.2s ease-out;
    }
}