.float-label {

    @extend .psr;

    // hook
    @extend .float-label-hook !optional;

    label {
        color: #999;
        padding: 10px 50px 0 10px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;

        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;

        pointer-events: none;

        // hook
        @extend .float-label-label-hook !optional;
    }

    input:focus ~ label,
    textarea:focus ~ label,
    input:valid ~ label,
    textarea:valid ~ label {
        font-size: 90%;
        color: #{$color-form-focus};
        bottom: 100%;
        top: auto;
        -webkit-transition: all 0.125s ease;
        transition: all 0.125s ease;

        @extend .float-label-active-hook !optional;
    }

    input:focus ~ span,
    textarea:focus ~ span {
        width: 100%;
        -webkit-transition: all 0.075s ease;
        transition: all 0.075s ease;
    }

}