/*
 * lyr = layer
 *
 * settings
 * -fxd = fixed
 * -abs = absolute
 *
 */

[class*=lyr-] {
    @extend .psn-fll;
    @extend .cnr;
    @include rgba-background($layer-color-background, 0.8);

    width: 100%;
    height: 100%;

    @extend .zdx-last;

    @extend .lyr-hook !optional;

    &.closable {

        @extend .csr-pnt !optional;

        @extend .lyr-closable-hook !optional;

        .close {
            width: 30px;
            height: 30px;
            line-height: 30px;

            @extend .lyr-closable-close-hook !optional;
        }

    }

    * {
        @extend .csr-dft !optional;
    }

    .content {
        @extend .rel !optional;
        @extend .dsp-ibk !optional;

        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: #{$layer-color-content-background};

        @extend .lyr-content !optional;
    }
}

[class*=lyr-fxd-bg]:nth-child(n),
[class*=lyr-abs-bg]:nth-child(n) {
    -webkit-filter: none;
    filter: none;
}

[class*=lyr-fxd] {
    overflow-x: auto;
    -webkit-transform: translateZ(0);
    -webkit-overflow-scrolling: touch;
}