/*
 * Module: Navigation
 */

.nav {

    > li {
        @extend .flt-lft;

        > a {
            @extend .dsp-blk;
            @extend .rel;

            @extend .nav-link !optional;
        }

        &.active > a {
            @extend .nav-link-active !optional;
        }

        &:hover > a {
            @extend .nav-link-hover !optional;
        }
    }

    li {
        @extend .rel !optional;

        ul {
            left: -9999px;
            @extend .abs;

            @extend .zdx-2;

            @extend .nav-menu !optional;

            li {
                @extend .nav-menu-link !optional;

                a {
                    text-decoration: none;
                }

                &:hover {
                    @extend .nav-menu-link-hover !optional;
                }
            }
        }

        &:hover > ul {
            left: auto;
        }
    }

}