/*
 * Module: Pagination
 */

.pagination {

    * {
        @extend .txt-non;
        @extend .dsp-ibk;
    }

    li a {
        min-width: 29px;
        @extend .pdg-vrt-2;
        @extend .mgn-rgt-2;

        border: 1px solid #e9e9e9;
        background: #fafafa;
        -webkit-transition: border .2s ease-out;
           -moz-transition: border .2s ease-out;
                transition: border .2s ease-out;
    }

    li a:hover {
        border-color: #87b566;
    }

    li.active a {
        @extend .bld;
        @extend .cnr;

        color: #fff;
        border-color: #87b566;
        background: #87b566;
    }

    li[class*='edg-'] a {
        @extend .mgn-vrt-4;
        @extend .cnr;

    }

    li span {
        @extend .pdg-vrt-5;
    }

}