/*
 * Module: Tag List
 */

.tag-list {

    li {
        @extend .fns-11;
        @extend .dsp-ibk;
        @extend .pdg-vrt-8;
        @extend .pdg-hzn-5;
        @extend .csr-pnt;
        margin: .3em .1em;
        border-style: solid;
        border-width: 1px;
    }

    li i {
        @extend .cnr;
        @extend .dsp-ibk;
        @extend .mgn-lft-5;
        width: 15px;
        height: 16px;
        padding: .4em .3em;
    }

    li:hover i {
        background-color: #d14646;
    }

}
