/*
 * Module: Tooltip
 */

[data-tip] {

    position: relative;

    &:before,
    &:after {
        position: absolute;
        display: none;
        opacity: 0;
        @include vendor-prefix(transition, (opacity .3s ease, visibility .3s ease));
    }

    &:hover {
        z-index: #{$index-last};
    }
}

[data-tip]:hover:before,
[data-tip]:hover:after,
[data-tip]:focus:before,
[data-tip]:focus:after {
    display: block;
    opacity: 1;
}

[data-tip].slow:hover:before,
[data-tip].slow:hover:after,
[data-tip].slow:focus:before,
[data-tip].slow:focus:after {
    @include vendor-prefix(transition-delay, 1s);
}

[data-tip]:before {
    content: '';
    border: 8px solid transparent;
    z-index: 9;
}

[data-tip]:after {
    color: #707070;
    content: attr(data-tip);
    padding: .3em .7em .4em;
    font-size: 13px;
    line-height: 1.2em;
    white-space: nowrap;
    border: 1px solid #ddd;
    @include vendor-prefix(border-radius, 2px);
    background: #fff;
    @include vendor-prefix(box-shadow, 0 2px 5px -2px rgba(0, 0, 0, 0.4));
}

.tip-top:before {
    border-top-color: #fff;
}

.tip-btm:before {
    border-bottom-color: #fff;
}

.tip-lft:before {
    border-left-color: #fff;
}

.tip-rgt:before {
    border-right-color: #fff;
}

/*
 * top
 */

.tip-top:before,
.tip-top:after {
    bottom: 100%;
    left: auto;
    right: auto;
}

.tip-top:before {
    left: 50%;
    margin-bottom: -16px;
}

/*
 * right
 */

.tip-rgt:before,
.tip-rgt:after {
    left: 100%;
    bottom: 50%;
}

.tip-rgt:before {
    margin-left: -16px;
    margin-bottom: -8px;
}

.tip-rgt:after,
.tip-lft:after {
    margin-bottom: -13px;
}

/*
 * bottom
 */

.tip-btm:before,
.tip-btm:after {
    top: 100%;
    left: auto;
    right: auto;
}

.tip-btm:before {
    margin-top: -16px;
}

/*
 * left
 */

.tip-lft:before {
    left: 50%;
    margin-right: -16px;
    margin-bottom: -7px;
}

.tip-lft:before,
.tip-lft:after {
    right: 100%;
    bottom: 50%;
}
