
    @font-face {
        font-family: 'default';
        src:url("%fontPath%default/default.eot");
        src:url("%fontPath%default/default.eot?#iefix") format("embedded-opentype"),
            url("%fontPath%default/default.woff") format("woff"),
            url("%fontPath%default/default.ttf") format("truetype"),
            url("%fontPath%default/default.svg?#default") format("svg");
        font-weight: normal;
        font-style :normal;
    }



    [class*='%className%-'] {
        font-family: 'default';
    }
    /* Icons */
    
        .%className%-add:before {
            content: "\f101";
        }
    
        .%className%-arrow-right:before {
            content: "\f102";
        }
    
        .%className%-birthday-two:before {
            content: "\f103";
        }
    
        .%className%-birthday:before {
            content: "\f104";
        }
    
        .%className%-bodysize:before {
            content: "\f105";
        }
    
        .%className%-bug:before {
            content: "\f106";
        }
    
        .%className%-calendar:before {
            content: "\f107";
        }
    
        .%className%-call:before {
            content: "\f108";
        }
    
        .%className%-check-circ:before {
            content: "\f109";
        }
    
        .%className%-check:before {
            content: "\f10a";
        }
    
        .%className%-clipboard:before {
            content: "\f10b";
        }
    
        .%className%-close:before {
            content: "\f10c";
        }
    
        .%className%-cloud:before {
            content: "\f10d";
        }
    
        .%className%-company:before {
            content: "\f10e";
        }
    
        .%className%-easy:before {
            content: "\f10f";
        }
    
        .%className%-edit:before {
            content: "\f110";
        }
    
        .%className%-email:before {
            content: "\f111";
        }
    
        .%className%-error:before {
            content: "\f112";
        }
    
        .%className%-eye:before {
            content: "\f113";
        }
    
        .%className%-flag:before {
            content: "\f114";
        }
    
        .%className%-hair:before {
            content: "\f115";
        }
    
        .%className%-heart:before {
            content: "\f116";
        }
    
        .%className%-height:before {
            content: "\f117";
        }
    
        .%className%-help:before {
            content: "\f118";
        }
    
        .%className%-key:before {
            content: "\f119";
        }
    
        .%className%-location:before {
            content: "\f11a";
        }
    
        .%className%-lock:before {
            content: "\f11b";
        }
    
        .%className%-magnify:before {
            content: "\f11c";
        }
    
        .%className%-notification:before {
            content: "\f11d";
        }
    
        .%className%-pause:before {
            content: "\f11e";
        }
    
        .%className%-pencil:before {
            content: "\f11f";
        }
    
        .%className%-person:before {
            content: "\f120";
        }
    
        .%className%-profile:before {
            content: "\f121";
        }
    
        .%className%-remove:before {
            content: "\f122";
        }
    
        .%className%-rocket:before {
            content: "\f123";
        }
    
        .%className%-rubbish:before {
            content: "\f124";
        }
    
        .%className%-secure:before {
            content: "\f125";
        }
    
        .%className%-send:before {
            content: "\f126";
        }
    
        .%className%-settings:before {
            content: "\f127";
        }
    
        .%className%-share:before {
            content: "\f128";
        }
    
        .%className%-shoe:before {
            content: "\f129";
        }
    
        .%className%-size:before {
            content: "\f12a";
        }
    
        .%className%-star-empy:before {
            content: "\f12b";
        }
    
        .%className%-star-full:before {
            content: "\f12c";
        }
    
        .%className%-star:before {
            content: "\f12d";
        }
    
        .%className%-statistics-circ:before {
            content: "\f12e";
        }
    
        .%className%-wallet-circ:before {
            content: "\f12f";
        }
    
        .%className%-warning:before {
            content: "\f130";
        }
    
        .%className%-weight:before {
            content: "\f131";
        }
    
